{% extends 'base.html.twig' %}

{% block title %}Exercice index{% endblock %}

{% block body %}
    <h1>Exercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Content</th>
                <th>Description</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.id }}</td>
                <td>{{ exercice.nom }}</td>
                <td>{{ exercice.content }}</td>
                <td>{{ exercice.description }}</td>
               
                <td>
                    <a href="{{ path('app_exercice_show', {'id': exercice.id}) }}">show</a>
                    <a href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_new') }}">Create new</a>
{% endblock %}
